<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>The Angels Dashboard</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<table>
  <tr>
    <td>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="card-title">Operatori</mat-card-title>
          <mat-card-subtitle>Gestisci Operatori</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://lh3.googleusercontent.com/p/AF1QipNi-GoUGY4sAwcNhgBlmWwftXQtX8J2kO5SyF46=s1360-w1360-h1020">
        <div class="enter-button">
          <a mat-button [routerLink]="['/operatori']">Entra</a>
        </div>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="card-title">Servizi</mat-card-title>
          <mat-card-subtitle>Gestisci Servizi</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://lh3.googleusercontent.com/p/AF1QipO_eu3L8_f9BLqnogjMpCc8uHkhvwswE8jkESjt=s1360-w1360-h1020">
        <div class="enter-button">
          <a mat-button [routerLink]="['/servizi']">Entra</a>
        </div>
      </mat-card>
    </td>
    <td>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="card-title">Mezzi</mat-card-title>
          <mat-card-subtitle>Gestisci Mezzi</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://lh3.googleusercontent.com/p/AF1QipN0yRM0XpHVhtHy8nQ4tZQiCQDuFtbgujdIoG0g=s1360-w1360-h1020">
        <div class="enter-button">
          <a mat-button [routerLink]="['/mezzi']">Entra</a>
        </div>
      </mat-card>
    </td>
  </tr>
</table>






